{% extends 'base.html.twig' %}

{% block body %}
    <p>Voici les articles :</p>

    <table>
        <tr>
            <td>id</td>
            <td>name</td>
        </tr>
    {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.name }}</td>
        </tr>
    {% else %}
        <p>t'as pas d'articles poto</p>
    {% endfor %}
    </table>

{% endblock %}

